<section class="footer">
  <span class="todo-count">
    <strong><%= @all_todos.active.count %></strong> <%= "item".pluralize @all_todos.active.count %> left
  </span>

  <ul class="filters">
    <% %w[all active completed].each do |filter| %>
      <li>
        <%= link_to filter.titleize, todos_path(filter: filter), class: ("selected" if params[:filter] == filter) %>
      </li>
    <% end %>
  </ul>

  <% if @all_todos.completed.any? %>
    <button class="clear-completed" data-controller="todos" data-action="click->todos#destroyCompleted">
      Clear completed
    </button>
  <% end %>
</section>
